.footer {
  padding-bottom: 40px;

  .nav {
    &-list {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      padding-left: 0;

      list-style: none;

      color: $footer-section-color;
      font-size: 18px;

      &__item {
        margin: 3px 15px;

        &-link {
          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    .info {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      margin-top: 30px;

      font-weight: 600;
      letter-spacing: 0.38px;

      .copyright , .text {
        margin: 0 10px;

        font-size: 15px;
      }

      .copyright {
        color: $footer-section-color;
      }

      .text {
        color: $footer-text-color;
      }
    }

    .socials {
      display: flex;
      justify-content: center;
      align-items: center;

      .social-item {
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 10px;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  @media (max-width: 596px) {
    .nav {
      &-list {
      }
    }
  }
}
