.reviews-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top: 25px;
  padding-bottom: 150px;

  .title {
    margin-bottom: 0;

    text-align: center;

    color: $title-color;

    font-size: 50px;
  }

  .line {
    width: 78px;
    height: 6px;

    margin: 25px 0;

    background-color: $blue-color;
  }

  .description {
    color: $title-color;

    text-align: center;

    font-size: 26px;
    line-height: 50px;
    letter-spacing: .28px;
  }

  .current-review {
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin-top: 30px;

    .arrow {
      &:hover {
        cursor: pointer;
      }
      
      &.left-arrow {
        margin-right: 30%;
      }

      &.right-arrow {
        margin-left: 30%;
      }
    }

    .review {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      margin-top: 30px;

      .author {
        margin-top: 20px;

        color: $reviews-section-color;

        font-size: 24px;
        font-weight: 700;
        line-height: 45.01px;
      }

      .status {
        margin-top: 5px;

        color: $reviews-section-color;

        font-size: 20px;
      }

      .pagination {
        display: flex;
        justify-content: center;
        align-items: center;

        margin-top: 50px;

        .page {
          width: 30px;
          height: 4px;

          margin: 0 10px;

          background-color: $pagination-color;

          font-size: 20px;

          &.active {
            width: 60px;

            background-color: $active-pagination-color;
          }
        }
      }
    }
  }

  @media (max-width: 576px) {
    padding-top: 0;

    .current-review {
      .arrow {
        &.left-arrow {
          margin-right: 5px;
        }

        &.right-arrow {
          margin-left: 5px;
        }
      }
    }
  }
}
