.welcome-section {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;

  min-height: 60vh;
  padding-bottom: 50px;

  .info {
    width: 40%;

    color: $title-color;

    .title {
      font-size: 5.3rem;
      line-height: 5.4rem;
      font-weight: 900;

      letter-spacing: 0.68px;

      padding-bottom: 0;
      margin-bottom: 0;
    }

    .description {
      color: $grey-color;

      font-size: 1.57rem;
      letter-spacing: 0.22px;
    }

    .button {
      padding: 16px 30px;

      font-size: 1.42rem;

      background-color: $blue-color;
      color: $welcome-section-button-color;

      border: 0;
      outline: 0;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .img {
    position: absolute;
    right: 0;

    height: 100%;
  }

  @media (max-width: 1260px) {
    flex-direction: column;

    .img {
      position: static;
      width: 100%;
    }
  }

  @media (max-width: 990px) {
    .info {
      width: 90%;
    }
  }
}
