footer.footer
    nav.nav
        ul.nav-list
            +navItem('Home')
            +navItem('Video')
            +navItem('Destinations')
            +navItem('Booking')
            +navItem('Contact')
            +navItem('Pricing')
            +navItem('Privacy Policy')
        .info
            span.copyright Copyright 2014 - 2018
            span.text Rhea - Travel Around The World
        .socials
            +socialItem('img/social/youtube.svg')
            +socialItem('img/social/facebook.jpg')
            +socialItem('img/social/twitter.svg')
            +socialItem('img/social/mail.svg')
