header.header
    img.logo(src='img/logo.svg')
    nav.nav
        +hamburgerMenu(3)
        ul.nav-list
            +navItem('Home', '#')
            +navItem('Video', '#')
            +navItem('Destinations', '#')
            +navItem('Booking', '#')
            +navButtonItem('Sign In', '#')
