section.categories-section
    .info
        h2.title Travel categories
        .line
        p.description.
            Maecenas et eros non quam ultricies interdum. Proin ac dolor vel neque ullamcorper blandit vitae et felis.
            Morbi ante urna, imperdiet vel neque vitae, porta ullamcorper metus. Quisque bibendum venenatis eros sed
            commodo. Nullam ultrices tortor non diam ullamcorper auctor. In urna tellus, auctor sit amet est ut,
            scelerisque volutpat diam.

    .photos
        +galleryPhoto('Title', 'img/categories/1.jpg')
        +galleryPhoto('Art and culture', 'img/categories/3.jpg')
        +galleryPhoto('Backpacking', 'img/categories/1.jpg')
        +galleryPhoto('Beaches, coast and island', 'img/categories/2.jpg')
        +galleryPhoto('Wildlife and nature', 'img/categories/3.jpg')

    .control
        img.arrow.left-arrow(src="img/arrows/left_arrow.svg")
        img.arrow.right-arrow(src="img/arrows/right_arrow.svg")
