section.place-section
    .wrapper
        .places
            +place('img/places/3.jpg', 'Kuramathi, maldives', 5, '6 days tour', 430, true)
            +place('img/places/2.jpg', 'Kathmandu, Nepal', 4, '7 days tour', 640, false)
            +place('img/places/3.jpg', 'Kuramathi, maldives', 3, '4 days tour', 560, true)
        .places-info
            .title Amazing places to enjoy your travel
            .line
            .description.
                Etiam facilisis, sapien quis porta dignissim, orci nisi pharetra dui,
                varius vehicula ligula nulla sit amet lorem. Aenean in vestibulum quam.
                Cras commodo varius neque, non gravida diam ultrices nec. Cras nulla mauris,
                fermentum nec libero in.
            button.button Explore
    .control
        img.arrow.left-arrow(src="img/arrows/left_arrow.svg")
        img.arrow.right-arrow(src="img/arrows/right_arrow.svg")
