section.reviews-section
    h2.title Traveller’s experiences
    .line
    .description.
        “Curabitur posuere ullamcorper pulvinar. Donec dignissim bibendum leo, at faucibus enim aliquam eu.
        Nullam quis pulvinar diam, ac elementum urna. Integer id vehicula tortor, nec pulvinar libero.
        Ut elit elit, fringilla a nisi ut, dapibus eleifend quam.”

    .current-review
        img.arrow.left-arrow(src="img/arrows/left_arrow.svg" alt="")
        .review
            img.img(src="img/review/1.jpg")
            .author Donquixote Law
            .status Treveller
            +pagination(4, 1)
        img.arrow.right-arrow(src="img/arrows/right_arrow.svg" alt="")
