section.welcome-section
    .info
        h1.title Travel around the world
        p.description.
            Plan and book your perfect trip with expert advice,
            travel tips, destination information and
            inspiration from us.
        button.button Sign Up Now
    img.img(src="img/beach.svg" alt="")
