extends ../layout/main

block var
    - const title = 'Rhea - Travel around the world';

block content
    include ../components/sections/welcome-section
    include ../components/sections/place-section
