@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Nunito+Sans:wght@400;600;800&display=swap');

body {
  font-family: 'Nunito Sans', sans-serif;
}

html {
  font-size: 14px;

  @media (max-width: 768px) {
    font-size: 12px;
  }

  @media (max-width: 576px) {
    font-size: 10px;
  }
}
