@import "variables";
@import "fonts";
@import "container";
@import "sections/header";
@import "sections/welcome-section";
@import "sections/place-section";
@import "components/rating";
@import "sections/featured-section";
@import "sections/categories-section";
@import "sections/reviews-section";

body {
  margin: 0;
  padding: 0;

  overflow-x: hidden;
}
