$header-menu-color: #bab8b8;
$header-hover-color: #4497f3;

$welcome-section-button-color: white;

$places-section-length-color: #a0a0a0;

$featured-section-selected-video-background: rgba(152, 152, 152, .15);

$reviews-section-color: #2b323a;

$footer-section-color: #2b323a;
$footer-text-color: #c6c6c6;

$blue-color: #3984f3;
$title-color: #091e40;
$grey-color: #81858e;

$pagination-color: rgba(113, 133 , 222, .3);
$active-pagination-color: $blue-color;
