$header-menu-color: #bab8b8;
$header-hover-color: #4497f3;

$welcome-section-title-color: #091e40;
$welcome-section-description-color: #81858e;
$welcome-section-button-color: white;

$blue-color: #3984f3;
